/* About 섹션 전체 설정 */
#about {
  scroll-margin-top: 80px;
}

/* About 전체 레이아웃 */
.about-section {
  position: relative;
  z-index: 2;
  background-color: var(--section-bg);
  min-width: 450px;
  min-height: auto;
  margin: 0 auto;
  padding: 2.5rem 1rem 2.5rem;
  text-align: center;
  color: var(--text-color);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

/* About 섹션 제목 */
.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.85rem;
  text-align: center;
  color: var(--text-color) !important;
}

/* 상단 너구리 이미지 */
.raccoon-image {
  width: 160px;
  height: 160px;
  filter: grayscale(100%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out;
}

/* 자기소개 문단 */
.about-intro {
  font-size: 0.95rem;
  line-height: 1rem;
  margin-bottom: 2.5rem;
  white-space: pre-line;
  color: var(--text-color);
  max-width: 640px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}


/* 모바일 스타일 */
@media (max-width: 480px) {
  /* About 레이아웃 조정 */
  .about-section {
    height: auto !important;
    min-height: 35rem;
    padding-bottom: 1.5rem;
  }

  /* 자기소개 텍스트 크기 축소 */
  .about-intro {
    font-size: 0.82rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }
  /* 제목 폰트 크기 축소 */
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
