/* 메인 영상 섹션 */
.main-video {
  width: 100vw;
  height: 15vh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

/* 배경 비디오 스타일 */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}

/* 모바일 화면 대응 */
@media (max-width: 480px) {
  .main-video {
    height: 5vh;
  }
  .video-bg {
    object-fit: fill;
  }
}
