.main-video {
  width: 100vw;
  height: 15vh; /* 줄인 높이 */
  position: relative; /* 필수 */
  overflow: hidden;
  background-color: black;
}

.video-bg {
  position: absolute; /* 핵심 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* 또는 fill/contain */
  background-color: black;
}

/* ✅ 모바일용 덮어쓰기 */
@media (max-width: 480px) {
  .main-video {
  height: 5vh; /* 줄인 높이 */
}
  .video-bg {
    object-fit: fill; /* 모바일에서는 꽉 차게 */
  }
}
