:root {
  --bg-color: #f9f9f9;
  --text-color: #111111;
  --section-bg: #f9f9f9;
  --card-bg: #f2f2f2;
  --muted-text-color: #666666;
  --border-color: #cccccc;
}

[data-theme='dark'] {
  --bg-color: #1e1e1e;
  --text-color: #f1f1f1;
  --section-bg: #1e1e1e;
  --card-bg: #2a2a2a;
  --muted-text-color: #bbbbbb;
  --border-color: #444444;
}

/* 배경, 글자색 전역 적용 */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
}

/* 메인 영상 영역 */
.main-video {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  position: relative;
  overflow: hidden;
}



/* 자기소개 영역 */
.about-section {
  background-color: var(--section-bg);
  color: var(--text-color);
  padding: 4rem 1rem;
}

/* 기술 스택 영역 */
.stack-section {
  background-color: var(--section-bg);
  color: var(--text-color);
  padding: 5.25rem 0.8rem 5rem 0.8rem;
}

/* 프로젝트 영역 */
.project-section {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 4rem 1rem;
}

/* 하단 푸터 */
.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem 1rem;
  font-size: 0.85rem;
  text-align: center;
}
